@font-face {font-family: "Old newspaper font"; src: url("https://db.onlinewebfonts.com/t/94d0c168186efde5fbe01b186e80e27e.eot"); src: url("https://db.onlinewebfonts.com/t/94d0c168186efde5fbe01b186e80e27e.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/94d0c168186efde5fbe01b186e80e27e.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/94d0c168186efde5fbe01b186e80e27e.woff") format("woff"), url("https://db.onlinewebfonts.com/t/94d0c168186efde5fbe01b186e80e27e.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/94d0c168186efde5fbe01b186e80e27e.svg#Old newspaper font") format("svg"); } 

body { 
    font-family: 'Old newspaper font', serif;
    background-color: #DFDACF;
}

.container {
    padding: 50px;
}

header { 
    display: flex;
}

.unitBox p {
    text-align: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #121213;
}

input:focus + .slider {
  box-shadow: 0 0 1px #030303;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.title {
    font-size: 48px;
}

#page_title {
    text-align: left;
    flex-grow: 3;
}

.open-input {
    font-family: 'Old newspaper font', serif;
    background: transparent;
    border: none;
    outline: none;
}

.input-container {
    display: flex;
    border: solid;
    padding: 3px;
    border-radius: 5px;
}

.measure {
    font-size: 28px;
}

@keyframes fade-in {
    from {
        opacity: 0; 
        transfrom: scale(.7, .7)
    }
    to {
        opacity: 1;
    }
}

/* begin result grid */
@media (min-width: 480px) {
    .res {
        padding: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
            "lead lead wind"
            "detail detail detail"
            "bottom bottom bottom"
    }
}

@media (min-width:320px) and (max-width: 480px) {
    .res {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }

}



/* begin lead grid */
@media (min-width:768px) {
    #lead {
        border-right: solid #232324 2px;
        padding: 10px;
        grid-area: lead;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "city pic"
            "temp feel"
            "hi lo"

    }
}
#city {
    font-size: 40px;
    margin: 0px;
    grid-area: city;
}

#tempItem {
    grid-area: temp;
}

#minItem {
    grid-area: lo;
}

#maxItem {
    grid-area: hi;
}

#feelItem {
    grid-area: feel;
}

#picItem {
    grid-area: pic;
}


/* end lead grid */

#wind {
    grid-area: wind;
}
/* end result grid */
.fade-element {
    animation: fade-in 0.5s;
}

.invis {
    opacity: 0;
}

.hidden {
    display: none;
}
